body {
  background-color: #49243e;
}
.Header {
  color: #dbafa0;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 100px;
}

.underline {
  text-underline-offset: 8px;
  text-decoration: underline;
  text-decoration-color: navajowhite;
}

.box {
  height: 450px;
  width: 650px;
  background-color: aliceblue;
  margin: 0 auto;
  box-shadow: 10px 10px 5px #888888;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.person-img {
  width: 300px; /* Set a fixed width */
  height: 300px; /* Set a fixed height */
  display: block;
  object-fit: cover; /* Resize the images to cover the content box */
  border-radius: 50%;
  position: relative;
  border: 2px solid #888;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
